{% extends "base_model.tmpl" %}
{% block main %}
/**
 * Possible values for the {@code {{field.nameLowerCase}} column of the {@code {{entity.nameLowerCase}} table.
 */
public enum {{data.field.enum_name}} {
    {% for enumValue in data.field.enum_values %}
    /**
     * {{enumValue.documentation}}
     */
    {{enumValue.name}},

    {% endfor %}
}

{% endblock %}
