<provider
            android:name="{{data.config.PROJECT_PACKAGE_ID}}.{{data.config
            .PROVIDER_CLASS_NAME}}"
            android:authorities="{{data.config.AUTHORITY}}"
            android:exported="false" />
