{##          _______  _______  _______  _______  _#}
{## |\     /|(  ___  )(  ____ )(       )(  ___  )( (    /||\     /|#}
{## | )   ( || (   ) || (    )|| () () || (   ) ||  \  ( |( \   / )#}
{## | (___) || (___) || (____)|| || || || |   | ||   \ | | \ (_) /#}
{## |  ___  ||  ___  ||     __)| |(_)| || |   | || (\ \) |  \   /#}
{## | (   ) || (   ) || (\ (   | |   | || |   | || | \   |   ) (#}
{## | )   ( || )   ( || ) \ \__| )   ( || (___) || )  \  |   | |#}
{## |/     \||/     \||/   \__/|/     \|(_______)|/    )_)   \_/#}
{###}
<provider
            android:name="{{data.config.PROJECT_PACKAGE_ID}}.{{data.config
            .PROVIDER_CLASS_NAME}}"
            android:authorities="{{data.config.AUTHORITY}}"
            android:exported="false" />
