{% extends "base_model.tmpl" %}

{% block main %}

import {{data.config.PROVIDER_JAVA_PACKAGE}}.base.BaseModel;

import java.util.Date;
{% if data.config.useAnnotations %}

import android.support.annotation.NonNull;
import android.support.annotation.Nullable;
{% endif %}

/**
{% if data.model.documentation %}
 * {{ data.model.documentation }}
{% else %}
 * Columns for the {@code {{data.model.name_lower_case}} table.
{% endif %}
 */
public interface {{data.model.name_camel_case}}Model extends BaseModel {
    {% for field in data.model.fields %}
        {% if not field.is_id %}

        /**
        {% if field.documentation  %}
         * {{field.documentation}}
        {% else %}
         * Get the {@code {{field.name_lower_case}} value.
        {% endif %}
        {% if field.is_nullable %}
         * Can be {@code null}.
        {% elif not field.has_not_nullable_java_type %}
         * Cannot be {@code null}.
        {% endif %}
         */
     {% if data.config.useAnnotations %}
        {% if field.is_nullable %}
    @Nullable
        {% else %}
            {% if not field.has_not_nullable_java_type %}
    @NonNull
            {% endif %}
        {% endif %}
     {% endif %}
    {{field.simple_java_name}} get{% if field.is_foreign_key %}{{field.path}}{%
            endif %}{{field.name_camel_case}}();
        {% endif %}
    {% endfor %}
}

{% endblock %}
